* {
    box-sizing: border-box;
}

.container {
    border: 3px solid black;
    width: 90vw;
    margin: 8px auto;
    padding-bottom: calc(30px + 100px);
}

.container__box {
    height: 100px;
    border: 3px solid black;
    width: 110px;
    margin: 15px;
}

.container__center {
    height: 230px;
    width: 390px;
    margin: auto;
}

.container__end {
    height: 230px;
    width: 390px;
    margin-left: auto;
}

.container--magnifier {
    padding-bottom: 0;
}

.container__box--left {
    float: left;
}

.container__box--right {
    float: right;
}

.container__box--small {
    height: 50px;
    width: 60px;
}

.container__box--big {
    height: 200px;
    width: 220px;
}

.container__box--long {
    height: 85px;
}

.container__box--second1 {
    margin: 40px 285px 40px 15px;
}

.container__box--second2 {
    margin: 40px -165px 40px 15px;
}

.container__box--second3 {
    margin: 40px -255px 40px 15px;
}

.container__box--second4 {
    margin: 40px -345px 40px 15px;
}

.container__box--third1 {
    margin: 15px 155px 15px 15px;
}

.container__box--third2 {
    margin: 15px -265px 15px 15px;
}